body {
	background-color: #A8BA9A;
}

h1 {
	font-size: 50px;
	color: #4A314D;
	text-align: center;
	border-style: solid;
	border-width: 5px;
	padding: 40px;
	width: 70%;
	margin-top: 25px;
	margin-bottom: 50px;
	margin-right: px;
	margin-left: 200px;
}

p {
	color: #4A314D;
	text-align: center;
	border-style: solid;
	borde-width: 5px;
	font-size: 20px;
}

h2 {
	color: #4A314D;
	text-align: center;
	border-style: solid;
	borde-width: 5px;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-right: 300px;
	margin-left: 200px;
	width: 70%;
}

ul {
	color: #4A314D;
	border-style: solid;
	borde-width: 5px;
	font-size: 20px;
}

h3 {
	color: #4A314D;
	border-style: solid;
	borde-width: 5px;
}

table {
	color: #4A314D;
	border-style: solid;
	borde-width: 5px;
}

th {
	font-size: 20px;
}

td {
	 font-size: 20px;
}

table, th, td {
	border: 1px solid black;
}

table {
	width: 100%
}

th {
	height: 50px;
}
