h1 {
	color: #1F2F37;
	font-family: Sans-serif;
}

body {
	background-color: #8EDAFF;
}

.bengal, .siberian, .malayan {
 	height: 500px;
	 width: auto;
}

.cross-eyes, .kenny {
	height: 450px:
	width: auto;
}

.zabu {
	height: 550px;
	width: auto;
}
 .hoover {
	height: auto;
	width: 734px;
